<!DOCTYPE html>
<html>
	<head>
		<title>Crud Engine with net/http</title>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				{{range .}}
					{{if .}}
						<tr>
							<td>{{.Title}}</td>
							<td><a href="/show/{{ .Slug }}">show</a></td>
							<td><a href="/edit/{{ .Slug }}">edit</a></td>
							<td><a href="/delete/{{ .Slug }}">delete</a></td>
						</tr>
					{{end}}
				{{end}}
			</tbody>
		</table>
		<a href="/new/">New</a>
	</body>
</html>